/dts-v1/;
/include/ "spi.dtsi"

&spi {
	spidev@0{
		compatible = "spidev";
		reg = <0>;	/* CE0 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <500000>;
		// Mode 0 (CPOL = 0, CPHA = 0)
		status = "okay";
	};

	spidev@1{
		compatible = "spidev";
		reg = <1>;	/* CE1 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <500000>;
		// Mode 0 (CPOL = 0, CPHA = 0)
		status = "okay";
	};
};
